.collegeCard {
  width: 100%;
  border: 2px solid rgba(41, 29, 29, 0.856);
  border-radius: 5px;
  height: 200px;
  margin: 5px;
  position: relative;
  background-color: rgb(185, 205, 241);
}

.collegeAnc {
  width: 19%;
  text-decoration: none;
}

.colgName {
  position: absolute;
  top: 10px;
  font-size: 25px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(41, 29, 29, 0.856);
  font-weight: bolder;
}

.colgOwner {
  position: absolute;
  top: 140px;
  left: 30%;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  color: brown;
}