footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
  height: 50px;
  background-color: rgb(41, 29, 29);
}

footer > p {
  font-family:Arial, Helvetica, sans-serif;
  font-size: 18px;
}