.stateFilter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.filterLabel {
  color: rgba(41, 29, 29, 0.856);
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: bolder;
  margin-right: 10px;
}

.dropDown {
  width: fit-content;
  background-color: rgba(41, 29, 29, 0.856);
  color: whitesmoke;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  font-weight: bolder;
  height: 30px;
}

.dropdownText {
  color: whitesmoke;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 16px;
  font-weight: bolder;
}